.field{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 366px;
    height: 100px;
    background-color: firebrick;
    background: linear-gradient(92.94deg, #CAD4C5 0%, #B2BFA5 100%);
    box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    
}
.fieldMini{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 366px;
    height: 100px;
    background-color: firebrick;
    background: linear-gradient(92.94deg, #CAD4C5 0%, #B2BFA5 100%);
    box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
.beg{
    margin-left: 14px;
    color: #373A37;
}